@charset "utf-8";

// Default color scheme settings
// These are overridden in classic.css and dark.scss

$color-scheme-auto: true !default;
$color-scheme-dark: false !default;

// Light mode
$lm-brand-color:           #000000 !default;
$lm-brand-color-light:     lighten($lm-brand-color, 40%) !default;
$lm-brand-color-dark:      darken($lm-brand-color, 25%) !default;

$lm-site-title-color:      $lm-brand-color-dark !default;

$lm-text-color:            #000000 !default;
$lm-background-color:      #ffffff !default;
$lm-code-background-color: #f7f7f7 !default;

$lm-link-base-color:       #3366ff !default;
$lm-link-visited-color:    darken($lm-link-base-color, 15%) !default;
$lm-link-hover-color:      $lm-text-color !default;

$lm-border-color-01:       $lm-brand-color-light !default;
$lm-border-color-02:       lighten($lm-brand-color, 35%) !default;
$lm-border-color-03:       $lm-brand-color-dark !default;

$lm-table-text-color:      lighten($lm-text-color, 18%) !default;
$lm-table-zebra-color:     lighten($lm-brand-color, 46%) !default;
$lm-table-header-bg-color: lighten($lm-brand-color, 43%) !default;
$lm-table-header-border:   lighten($lm-brand-color, 37%) !default;
$lm-table-border-color:    $lm-border-color-01 !default;

@mixin lm-highlight {
  .highlight {
    .c     { color: #707f8c } // Comment
    .cm    { color: #707f8c } // Comment.Multiline
    .cp    { color: #707f8c } // Comment.Preproc
    .c1    { color: #707f8c } // Comment.Single
    .cs    { color: #707f8c } // Comment.Special
    .k     { color: #ad3da4 } // Keyword
    .kc    { color: #ad3da4 } // Keyword.Constant
    .kd    { color: #ad3da4 } // Keyword.Declaration
    .kp    { color: #ad3da4 } // Keyword.Pseudo
    .kr    { color: #ad3da4 } // Keyword.Reserved
    .kt    { color: #ad3da4 } // Keyword.Type
    .nb    { color: #ad3da4 } // Name.Builtin
    .nv    { color: #2d6469 } // Name.Variable
    .nf    { color: #2d6469 } // Name.Function
    .s     { color: #d12f1b } // Literal.String
    .sb    { color: #d12f1b } // Literal.String.Backtick
    .sc    { color: #d12f1b } // Literal.String.Char
    .sd    { color: #d12f1b } // Literal.String.Doc
    .s2    { color: #d12f1b } // Literal.String.Double
    .se    { color: #d12f1b } // Literal.String.Escape
    .sh    { color: #d12f1b } // Literal.String.Heredoc
    .si    { color: #d12f1b } // Literal.String.Interpol
    .s1    { color: #d12f1b } // Literal.String.Single
    .sx    { color: #d12f1b } // Literal.String.Other
    .na    { color: #947100 } // Name.Attribute
    .nc    { color: #703daa } // Name.Class
    .ni    { color: #703daa } // Name.Entity
    .no    { color: #703daa } // Name.Constant
    .vc    { color: #703daa } // Name.Variable.Class
    .vg    { color: #703daa } // Name.Variable.Global
    .vi    { color: #703daa } // Name.Variable.Instance
    .err   { color: #d12f1b } // Error
    .gr    { color: #d12f1b } // Generic.Error
    .gt    { color: #d12f1b } // Generic.Traceback
    .ne    { color: #d12f1b } // Name.Exception
    .m     { color: #272ad8 } // Literal.Number
    .mf    { color: #272ad8 } // Literal.Number.Float
    .mh    { color: #272ad8 } // Literal.Number.Hex
    .mi    { color: #272ad8 } // Literal.Number.Integer
    .il    { color: #272ad8 } // Literal.Number.Integer.Long
    .mo    { color: #272ad8 } // Literal.Number.Oct
    .o     { font-weight: bold } // Operator
    .ow    { font-weight: bold } // Operator.Word
    .gs    { font-weight: bold } // Generic.Strong
    .ge    { font-style: italic } // Generic.Emph
    .nt    { color: #272ad8 } // Name.Tag
    .gd    { color: #000; background-color: #fff0f5 } // Generic.Deleted
    .gd .x { color: #000; background-color: #fff0f5 } // Generic.Deleted.Specific
    .gi    { color: #000; background-color: #f0fff0 } // Generic.Inserted
    .gi .x { color: #000; background-color: #f0fff0 } // Generic.Inserted.Specific
    .gh    { color: #707f8c } // Generic.Heading
    .bp    { color: #707f8c } // Name.Builtin.Pseudo
    .go    { color: #707f8c } // Generic.Output
    .gp    { color: #707f8c } // Generic.Prompt
    .gu    { color: #707f8c } // Generic.Subheading
    .w     { color: #707f8c } // Text.Whitespace
    .nn    { color: #047cb0 } // Name.Namespace
    .sr    { color: #008000 } // Literal.String.Regex
    .ss    { color: #ba2da2 } // Literal.String.Symbol
  }
}

// Dark mode
$dm-brand-color:           #ffffff !default;
$dm-brand-color-light:     lighten($dm-brand-color, 5%) !default;
$dm-brand-color-dark:      darken($dm-brand-color, 35%) !default;

$dm-site-title-color:      $dm-brand-color-light !default;

$dm-text-color:            #ffffff !default;
$dm-background-color:      #000000 !default;
$dm-code-background-color: #161616 !default;

$dm-link-base-color:       #0099ff !default;
$dm-link-visited-color:    $dm-link-base-color !default;
$dm-link-hover-color:      $dm-text-color !default;

$dm-border-color-01:       $dm-brand-color-dark !default;
$dm-border-color-02:       $dm-brand-color-light !default;
$dm-border-color-03:       $dm-brand-color !default;

$dm-table-text-color:      $dm-text-color !default;
$dm-table-zebra-color:     lighten($dm-background-color, 4%) !default;
$dm-table-header-bg-color: lighten($dm-background-color, 10%) !default;
$dm-table-header-border:   lighten($dm-background-color, 21%) !default;
$dm-table-border-color:    $dm-border-color-01 !default;

@mixin dm-highlight {
  .highlight {
    .c     { color: #7f8c98 } // Comment
    .cm    { color: #7f8c98 } // Comment.Multiline
    .cp    { color: #7f8c98 } // Comment.Preproc
    .c1    { color: #7f8c98 } // Comment.Single
    .cs    { color: #7f8c98 } // Comment.Special
    .k     { color: #ff7ab2 } // Keyword
    .kc    { color: #ff7ab2 } // Keyword.Constant
    .kd    { color: #ff7ab2 } // Keyword.Declaration
    .kp    { color: #ff7ab2 } // Keyword.Pseudo
    .kr    { color: #ff7ab2 } // Keyword.Reserved
    .kt    { color: #ff7ab2 } // Keyword.Type
    .nb    { color: #ff7ab2 } // Name.Builtin
    .nv    { color: #78c2b3 } // Name.Variable
    .nf    { color: #78c2b3 } // Name.Function
    .s     { color: #ff8170 } // Literal.String
    .sb    { color: #ff8170 } // Literal.String.Backtick
    .sc    { color: #ff8170 } // Literal.String.Char
    .sd    { color: #ff8170 } // Literal.String.Doc
    .s2    { color: #ff8170 } // Literal.String.Double
    .se    { color: #ff8170 } // Literal.String.Escape
    .sh    { color: #ff8170 } // Literal.String.Heredoc
    .si    { color: #ff8170 } // Literal.String.Interpol
    .s1    { color: #ff8170 } // Literal.String.Single
    .sx    { color: #ff8170 } // Literal.String.Other
    .na    { color: #cc9768 } // Name.Attribute
    .nc    { color: #dabaff } // Name.Class
    .ni    { color: #dabaff } // Name.Entity
    .no    { color: #dabaff } // Name.Constant
    .vc    { color: #dabaff } // Name.Variable.Class
    .vg    { color: #dabaff } // Name.Variable.Global
    .vi    { color: #dabaff } // Name.Variable.Instance
    .err   { color: #ff8170 } // Error
    .gr    { color: #ff8170 } // Generic.Error
    .gt    { color: #ff8170 } // Generic.Traceback
    .ne    { color: #ff8170 } // Name.Exception
    .m     { color: #d9c97c } // Literal.Number
    .mf    { color: #d9c97c } // Literal.Number.Float
    .mh    { color: #d9c97c } // Literal.Number.Hex
    .mi    { color: #d9c97c } // Literal.Number.Integer
    .il    { color: #d9c97c } // Literal.Number.Integer.Long
    .mo    { color: #d9c97c } // Literal.Number.Oct
    .o     { font-weight: bold } // Operator
    .ow    { font-weight: bold } // Operator.Word
    .gs    { font-weight: bold } // Generic.Strong
    .ge    { font-style: italic } // Generic.Emph
    .nt    { color: #d9c97c } // Name.Tag
    .gd    { color: #fff; background-color: #300 } // Generic.Deleted
    .gd .x { color: #fff; background-color: #300 } // Generic.Deleted.Specific
    .gi    { color: #fff; background-color: #030 } // Generic.Inserted
    .gi .x { color: #fff; background-color: #030 } // Generic.Inserted.Specific
    .gh    { color: #7f8c98 } // Generic.Heading
    .bp    { color: #7f8c98 } // Name.Builtin.Pseudo
    .go    { color: #7f8c98 } // Generic.Output
    .gp    { color: #7f8c98 } // Generic.Prompt
    .gu    { color: #7f8c98 } // Generic.Subheading
    .w     { color: #7f8c98 } // Text.Whitespace
    .nn    { color: #4eb0cc } // Name.Namespace
    .sr    { color: #090 } // Literal.String.Regex
    .ss    { color: #ba2da2 } // Literal.String.Symbol
  }
}
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens

// Mode selection
// Assign outside of the if construct to establish global variable scope

// Classic (always light mode)
$brand-color: $lm-brand-color;
$brand-color-light: $lm-brand-color-light;
$brand-color-dark: $lm-brand-color-dark;

$site-title-color: $lm-site-title-color;

$text-color: $lm-text-color;
$background-color: $lm-background-color;
$code-background-color: $lm-code-background-color;

$link-base-color: $lm-link-base-color;
$link-visited-color: $lm-link-visited-color;
$link-hover-color: $lm-link-hover-color;

$border-color-01: $lm-border-color-01;
$border-color-02: $lm-border-color-02;
$border-color-03: $lm-border-color-03;

$table-text-color: $lm-table-text-color;
$table-zebra-color: $lm-table-zebra-color;
$table-header-bg-color: $lm-table-header-bg-color;
$table-header-border: $lm-table-header-border;
$table-border-color: $lm-table-border-color;

@if $color-scheme-auto {
  :root {
    --skin-brand-color: #{$lm-brand-color};
    --skin-brand-color-light: #{$lm-brand-color-light};
    --skin-brand-color-dark: #{$lm-brand-color-dark};

    --skin-site-title-color: #{$lm-site-title-color};

    --skin-text-color: #{$lm-text-color};
    --skin-background-color: #{$lm-background-color};
    --skin-code-background-color: #{$lm-code-background-color};

    --skin-link-base-color: #{$lm-link-base-color};
    --skin-link-visited-color: #{$lm-link-visited-color};
    --skin-link-hover-color: #{$lm-link-hover-color};

    --skin-border-color-01: #{$lm-border-color-01};
    --skin-border-color-02: #{$lm-border-color-02};
    --skin-border-color-03: #{$lm-border-color-03};

    --skin-table-text-color: #{$lm-table-text-color};
    --skin-table-zebra-color: #{$lm-table-zebra-color};
    --skin-table-header-bg-color: #{$lm-table-header-bg-color};
    --skin-table-header-border: #{$lm-table-header-border};
    --skin-table-border-color: #{$lm-table-border-color};
  }

  @include lm-highlight;

  @media (prefers-color-scheme: dark) {
    :root {
      --skin-brand-color: #{$dm-brand-color};
      --skin-brand-color-light: #{$dm-brand-color-light};
      --skin-brand-color-dark: #{$dm-brand-color-dark};

      --skin-site-title-color: #{$dm-site-title-color};

      --skin-text-color: #{$dm-text-color};
      --skin-background-color: #{$dm-background-color};
      --skin-code-background-color: #{$dm-code-background-color};

      --skin-link-base-color: #{$dm-link-base-color};
      --skin-link-visited-color: #{$dm-link-visited-color};
      --skin-link-hover-color: #{$dm-link-hover-color};

      --skin-border-color-01: #{$dm-border-color-01};
      --skin-border-color-02: #{$dm-border-color-02};
      --skin-border-color-03: #{$dm-border-color-03};

      --skin-table-text-color: #{$dm-table-text-color};
      --skin-table-zebra-color: #{$dm-table-zebra-color};
      --skin-table-header-bg-color: #{$dm-table-header-bg-color};
      --skin-table-header-border: #{$dm-table-header-border};
      --skin-table-border-color: #{$dm-table-border-color};
    }

    @include dm-highlight;
  }

  $brand-color: var(--skin-brand-color);
  $brand-color-light: var(--skin-brand-color-light);
  $brand-color-dark: var(--skin-brand-color-dark);

  $site-title-color: var(--skin-site-title-color);

  $text-color: var(--skin-text-color);
  $background-color: var(--skin-background-color);
  $code-background-color: var(--skin-code-background-color);

  $link-base-color: var(--skin-link-base-color);
  $link-visited-color: var(--skin-link-visited-color);
  $link-hover-color: var(--skin-link-hover-color);

  $border-color-01: var(--skin-border-color-01);
  $border-color-02: var(--skin-border-color-02);
  $border-color-03: var(--skin-border-color-03);

  $table-text-color: var(--skin-table-text-color);
  $table-zebra-color: var(--skin-table-zebra-color);
  $table-header-bg-color: var(--skin-table-header-bg-color);
  $table-header-border: var(--skin-table-header-border);
  $table-border-color: var(--skin-table-border-color);
} @else if $color-scheme-dark {

  // Dark (always dark mode)
  $brand-color: $dm-brand-color;
  $brand-color-light: $dm-brand-color-light;
  $brand-color-dark: $dm-brand-color-dark;

  $site-title-color: $dm-site-title-color;

  $text-color: $dm-text-color;
  $background-color: $dm-background-color;
  $code-background-color: $dm-code-background-color;

  $link-base-color: $dm-link-base-color;
  $link-visited-color: $dm-link-visited-color;
  $link-hover-color: $dm-link-hover-color;

  $border-color-01: $dm-border-color-01;
  $border-color-02: $dm-border-color-02;
  $border-color-03: $dm-border-color-03;

  $table-text-color: $dm-table-text-color;
  $table-zebra-color: $dm-table-zebra-color;
  $table-header-bg-color: $dm-table-header-bg-color;
  $table-header-border: $dm-table-header-border;
  $table-border-color: $dm-table-border-color;

  @include dm-highlight;
} @else {
  // Classic syntax highlighting
  @include lm-highlight;
}
